/* CSS Document */
#wrapper {
background : #C0BDAC;
}
ul.menu li{
list-style-image:none;
list-style-type:circle;
}
#mission-outer {
margin-top : 10px;
}
#breadcrumb a {
border : none;
padding-top : 0;
padding-bottom :0;
}
#primary a {
border : none;
}
#secondary a {
border : none;
}
#logo {
margin-bottom : 0;
}
#site-name {
margin-bottom : 0;
}
#slogan-search {
margin : 0;
padding : 0;
}
.attachments {
overflow : auto;
width : 450px;
}