ul.menu li{
list-style-image:none;
list-style-type:circle;
}
#primary {
margin-bottom : 0;
}
#search-box {
margin-top : 10px;
}
#mission-outer {
margin-top : 10px;
}
#slogan-search {
margin-top : 0;
}
#site-slogan {
margin-top : 10px;
}
#breadcrumb a {
border : none;
padding-top : 0;
padding-bottom :0;
}
#primary a {
border : none;
}
#secondary a {
border : none;
}