/* CSS Document 
#DBE8C4
#C0BDAC
#600000
#F01818 
#F0F0F0 
Based on a 16 column grid
Columns are 40px, guttering 20px and margins 10px
 
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	vertical-align:baseline;
	font-size: 100.01%;
	background:transparent
}
imput, select, th, td li li, li p, td p, blockquote p { font-size : 1em;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
body {
font : 62.5% Verdana, Tahoma, Geneva, sans-serif;
line-height : 1.7em;
}
a:link {color:#3344dd}    
a:visited {color:#804180}  
a:focus {color:#b50010} 
a:hover {color:#b50010}  
a:active {color:#b50010} 
#wrapper {
width : 960px;
margin : 10px auto;
padding : 10px 0 10px 0;
border : 1px solid #600000;
background : #C0BDAC url("images/background--top.png") no-repeat center top;
-webkit-box-shadow:8px 7px 7px #333333; 
-moz-box-shadow:8px 7px 7px #333333; 
box-shadow:8px 7px 7px #333333; 
}
h1 {
width : 290px;
border : 1px solid #F01818;
text-align : center;
background : #ffffff;
margin : 40px 0 0 120px;
padding-bottom : 1px;
font : 1.8em "Helvetica Neue",  Helvetica, Arial, sans-serif;
-moz-border-radius : 5px;
-webkit-border-radius : 5px;
border-radius: 5px;
-webkit-box-shadow:10px 10px 10px #999999; 
-moz-box-shadow:10px 10px 10px #999999; 
box-shadow:10px 10px 10px #999999; 
}
h2 {
font : 1.7em "Helvetica Neue",  Helvetica, Arial, sans-serif;
margin-bottom : 1.17647059em;
color : #600000;
}
h3 {
font : 1.6em "Helvetica Neue",  Helvetica, Arial, sans-serif;
margin-bottom : 1.25em;
color : #600000;
}
h4 {
font : 1.5em "Helvetica Neue",  Helvetica, Arial, sans-serif;
margin-bottom : 1.33333333em;
color : #600000;
}
h5 {
font : 1.4em "Helvetica Neue",  Helvetica, Arial, sans-serif;
margin-bottom : 1.42857143em;
color : #600000;
}
h6 {
font : 1.3em "Helvetica Neue",  Helvetica, Arial, sans-serif;
margin-bottom : 1.53846154em;
color : #600000;
}
#content .node .content ol,
#content  .node .content ul {
font-size : 1.2em;
margin : 0 0 1.54545455em 60px;
}
blockquote {
margin-left : 60px;
padding-left : 10px;
border-left : 1px solid #3F4F4F;
}
q {
background : #ffffff;
}
q:before,
q:after {
content:'"';
}
strong {
font-weight : bold;
}
em {
font-style : italic;
}
sub {
vertical-align : sub;
font-size : 0.95em;
}
sup {
vertical-align : super;
font-size : 0.95em;
}
strike, s {
text-decoration:line-through;
}
cite {
font-style : italic;
font-weight : bold;
}
abbr, acronym {
color: #000000; 
text-decoration: none; 
border-bottom: 0;
} 
#content .node .content img {
float : left;
margin : 10px 10px 10px 0;
}

/* Menus in blocks */

ul.menu li{
list-style-image:url("images/menu.png");
margin-left : 20px;
}
ul.menu li a:hover:after {
content : url("images/arrow-180.png");
margin-left : 1px;
}

#header {
width : 940px;
margin : 0 10px 0 10px;
}

/* Breadcrumb */

#breadcrumb {
font-size : 1.1em;
margin-bottom : 10px;
border : 1px outset #600000;
background : #F0F0F0;
}
#breadcrumb a {
border : 1px outset #600000;
padding : 0.4166666675em 5px 0.4166666675em 5px;
background : #F0F0F0;
}
#breadcrumb a:hover {
background : #ffffff;
}
.breadcrumb {
margin : 0;
padding : 0;
}

/* Logo title */

#logo-title {
clear : both;
margin-bottom : 10px;
background : url("images/banner.jpg") no-repeat center center;
height : 200px;
}

#logo {
width : 220px;
margin : 40px 0 10px 20px;
float : left;
text-align : center;
outline : 0;
}
#logo img:hover {
opacity: 0.6;
cursor : pointer;
background: rgba(240, 240, 240, 0.6);  
}
#site-name {
width : 700px;
float : left;
margin-bottom : 10px;
}

/* Primary memu */

#primary {
font-size : 1.2em;
margin : 0 10px 10px 10px;
background : #F0F0F0;
clear : both;
border : 1px outset #600000;
}
#primary a {
border : 1px outset #600000;
padding : 0.4166666675em 5px 0.4166666675em 5px;
background : #F0F0F0;
}
#primary a:hover {
background : #ffffff;
}
#primary ul li {
padding-right : 2px;
}
#primary ul li:first-child{
padding-left : 0;
}
#primary ul li + li {
border-left: 1px solid #600000;
}

/* Mission */

#mission-outer {
width : 940px;
clear : both;
margin : 0 auto;
background : url("images/mission-background-small.jpg") no-repeat 480px 5%;
}
#mission {
width : 456px;
background : #DBE8C4;
border : 1px solid #F01818;
font-size : 1.2em;
padding : 1px;
-webkit-box-shadow:8px 7px 7px #333333; 
-moz-box-shadow:8px 7px 7px #333333; 
box-shadow:8px 7px 7px #333333; 
}

/* Slogan and search box */

#slogan-search {
width : 940px;
margin : 0 auto;
clear : both;
}
#site-slogan {
font : 1.4em  "Helvetica Neue",  Helvetica, Arial, sans-serif;
width : 698px;
color : #600000;
border : 1px outset #F01818;
background : #ffffff;
margin : 0 20px 10px 0;
float : left;
padding-top : 0.714285715em;
padding-bottom : 0.714285715em;
text-align : center;
-webkit-box-shadow:8px 7px 7px #333333; 
-moz-box-shadow:8px 7px 7px #333333; 
box-shadow:8px 7px 7px #333333; 
-moz-border-radius : 5px;
-webkit-border-radius : 5px;
border-radius: 5px;
}
#search-box {
width : 220px;
float : left;
margin-bottom : 10px;
}
#search-box .form-text {
border : 1px solid #600000;
vertical-align : top;
}
#search-box .form-submit {
vertical-align : top;
-webkit-box-shadow:10px 10px 10px #666666; 
-moz-box-shadow:10px 10px 10px #666666; 
box-shadow:10px 10px 10px #666666; 
}

.has-left-two #container {
width : 940px;
margin : 10px auto;
clear : both;
background : url("images/content-background.gif") repeat-y center center;
}
.no-left-two #container {
width : 940px;
margin : 10px auto;
clear : both;
background : url("images/content-background-one-column.gif") repeat-y center center;
}

/* Block search box*/

#block-search-0 .content {
text-align : center;
}
#block-search-0 .form-text {
border : 1px solid #600000;
vertical-align : top;
}
#block-search-0 .form-submit {
vertical-align : top;
-webkit-box-shadow:10px 10px 10px #666666; 
-moz-box-shadow:10px 10px 10px #666666; 
box-shadow:10px 10px 10px #666666; 
}
/* Sidebar Left */

#sidebar-left {
width : 216px;
padding : 0 2px 0 2px;
margin-right : 20px;
margin-bottom : 10px;
float : left;
border-top : 1px solid #600000;
}
#sidebar-left .content {
font-size : 1.2em;
margin-bottom : 1.41666667em;
}
#sidebar-left p.block-title {
font : 1.6em  "Helvetica Neue",  Helvetica, Arial, sans-serif;
margin-bottom : 1.0625em;
background : #F0F0F0;
border-top : 1px solid #C0BDAC;
border-bottom : 1px solid #C0BDAC;
text-shadow: #999999 18px 8px 2px;
}
#sidebar-left ul li {
list-style-type : circle;
}

/* Second left sidebar */

#sidebar-left-two {
width : 216px;
padding : 0 2px 0 2px;
margin : 0 20px 10px 0;
float : left;
border-top : 1px solid #600000;
}
#sidebar-left-two p.block-title {
font : 1.6em  "Helvetica Neue",  Helvetica, Arial, sans-serif;
margin-bottom : 1.0625em;
background : #F0F0F0;
border-top : 1px solid #C0BDAC;
border-bottom : 1px solid #C0BDAC;
text-shadow: #999999 18px 8px 2px;
}
#sidebar-left-two .content {
font-size : 1.2em;
margin-bottom : 1.41666667em;
}
#sidebar-left-two ul li {
list-style-type : circle;
}

/* Main content */


.has-left-two #content {
width : 456px;
padding : 0 2px 0 2px;
margin-bottom : 10px;
float : left;
border-top : 1px solid #600000;
}
.no-left-two #content {
width : 696px;
padding : 0 2px 0 2px;
margin-bottom : 10px;
float : left;
border-top : 1px solid #600000;
}

#content a[href^="mailto:"]:hover:after{
content : url("/sites/all/themes/spring_theme/images/mail.png");
margin-left : 1px;
}
#content a[href^="http:"]:hover:after{
content : url("images/arrow-045.png");
margin-left : 1px;
}

.front #content .node-title:after{
content: url("images/navigation-000-frame.png");
margin-left : 5px;
vertical-align : bottom;
}

/* Front content */

.front #content .content {
margin-left : 60px;
}
.front #content .submitted {
display : block;
}
.front #content .node-title{
font : 1.6em  "Helvetica Neue",  Helvetica, Arial, sans-serif;
}
.front #content .meta {
font-size : 1.1em;
margin-top : 1.0625em;
margin-bottom : 1.54545455em;
margin-left : 60px;
}
.front #content .meta ul li:first-child{
padding-left : 0;
}
.front #content p {
margin-bottom : 1.41666667em;
font-size : 1.2em;
}
.front #content p:nth-child(1)::first-letter {
font-size: 1.6em;
text-transform: capitalize;
font-style : italic;
}
.front #content .node-bottom-links {
font-size : 1.1em;
margin-bottom : 1.54545455em;
margin-left : 60px;
}
.front #content .node-bottom-links ul li:first-child{
padding-left : 0;
}

/* Not Front content */

.not-front #content .content {
margin-left : 60px;
}
.not-front #content .submitted {
display : block;
}
.not-front #content .node-title{
font : 1.6em  "Helvetica Neue",  Helvetica, Arial, sans-serif;
}
.not-front #content .meta {
font-size : 1.1em;
margin-top : 1.0625em;
margin-bottom : 1.54545455em;
margin-left : 60px;
}
.not-front #content .meta ul li:first-child{
padding-left : 0;
}
.not-front #content p {
margin-bottom : 1.41666667em;
font-size : 1.2em;
}
.not-front #content p:nth-child(1)::first-letter {
font-size: 1.6em;
text-transform: capitalize;
font-style : italic;
}
.not-front #content .node-bottom-links {
font-size : 1.1em;
margin-bottom : 1.54545455em;
margin-left : 60px;
}
.not-front #content .node-bottom-links ul li:first-child{
padding-left : 0;
}
.not-front #content .box-title {
font-size : 1.6em;
}
.not-front #comment-form {
font-size : 1.2em;
}
.not-front #comment-form label {
font-weight : normal;
font-style : italic;
}
.not-front #comments ul.links {
font-size : 1.1em;
}
.not-front #comment-form .form-text,
.not-front #comment-form textarea{
border : 1px solid #600000;
}
.not-front #comment-form .form-submit {
background : #DBE8C4;
border : 1px solid #C0BDAC;
}
.not-front #comments .comment{
margin-bottom : 1.81818182em;
}
.not-front #comments .comment-title {
font : 1.6em  "Helvetica Neue",  Helvetica, Arial, sans-serif;
}
.not-front #comments .submitted {
margin-top : 1.25em;
margin-bottom : 1.81818182em;
font-size : 1.1em;
}
.not-front #comments ul.links li:first-child{
padding-left : 0;
margin-left : 60px;
}
.not-front .comment .submitted {
font-size : 1.1em;
margin-top : 1.30769231em;
margin-bottom : 1.54545455em;
}

.taxonomy-term-description {
font-size : 1.2em;
}
/* Breadcrumbs */

.pager {
font-size : 1.2em;
}
ul.pager li {
padding : 0;
margin : 0;
}
.pager li.pager-current{
font-style : italic;
text-shadow: #666666 5px 12px 1px;
color : #600000;
}
.pager .pager-first:before {
content : url("images/document-page-first.png");
margin-right: 2px;
}
.pager .pager-previous:before{
content : url("images/document-page-previous.png");
margin-right: 2px;
}
.pager .pager-next:after{
content : url("images/document-page-next.png");
margin-left: 2px;
}
.pager .pager-last:after{
content : url("images/document-page-last.png");
margin-left: 2px;
}



/* secondary menu */

#secondary {
font-size : 1.2em;
margin : 0 10px 10px 10px;
border : 1px outset #600000;
background : #ffffff;
clear : both;
}
#secondary a {
border : 1px outset #600000;
padding : 0.4166666675em 5px 0.4166666675em 5px;
background : #F0F0F0;
}
#secondary a:hover {
background : #ffffff;
}
#secondary ul li {
padding-right : 2px;
}
#secondary ul li:first-child{
padding-left : 0;
}
#secondary ul li + li {
border-left:1px solid #600000;
}

/* aggregator */

#aggregator {
font-size : 1.2em;
margin-left : 60px
}
#aggregator ul {
margin-left : 60px;
margin-bottom : 1.41666667em;
}


/* Styling for Drupal attachments section */

#attachments {
font-size : 1.2em;
margin-bottom : 1.66666667em;
}
#attachments th {
font : 1em Helvetica, Helvetica Neue, Arial, sans-serif;
font-style : italic;
}
#attachments tbody {
border : 5px ridge #DBE8C4;
background : #00E8AE;
}
#attachments td {
padding: 5px 2px 5px 2px;
}
#attachments .odd {
border-bottom : 1px solid #F01818;
background : white;
padding-bottom : 5px;
}
#attachments .even {
border-bottom : 1px solid #600000;
}
#content #content-content #attachments .even a {
background-color : #ffffff;
}

/* PDF file extension 

.pdf

*/

#content #attachments a[href$='.pdf'] {
  padding-right: 25px;
  background: url("images/doc_pdf.png") no-repeat right;
}

/* Audio file extensions 

.aac, .cda, .fla, .flac, .m3u, .mp4, .m4a, .m4p, .mp3, .ogg, .wma, .wmv

*/

#content #attachments a[href$='.aac'], #content #attachments a[href$='.cda'], #content #attachments a[href$='.fla'], #content #attachments a[href$='.flac'], #content #attachments a[href$='.m3u'], #content #attachments a[href$='.mp4'], #content #attachments a[href$='.m4a'], #content #attachments a[href$='.m4p'], #content #attachments a[href$='.mp3'], #content #attachments a[href$='.ogg'], #content #attachments a[href$='.wma'], #content #attachments a[href$='.wmv']{
  padding-right: 25px;
  background: url("images/doc_music.png") no-repeat right;
}

/* HTML file extensions 

.htm, .html

*/

#content #attachments a[href$='.html'], #content #attachments a[href$='.htm'] {
  padding-right: 25px;
  background: url("images/html.png") no-repeat right;
}

/* Text file extensions 

.text, .txt, .info

*/

#content #attachments a[href$='.txt'], #content #attachments a[href$='.text'], #content #attachments a[href$='.info'] {
  padding-right: 25px;
  background: url("images/page_white_text.png") no-repeat right;
}

/* Video file extensions 

.avi, .m4v, .mov, .mp4, .mpg, 

*/

#content #attachments a[href$='.avi'], #content #attachments a[href$='.m4v'], #content #attachments a[href$='.mov'], #content #attachments a[href$='.mp4'], #content #attachments a[href$='.mpg'] {
  padding-right: 25px;
  background: url("images/film.png") no-repeat right;
}

/* Document file extensions

.doc, .dotm, .dotx, .sxw

*/

#content #attachments a[href$='.doc'], #content #attachments a[href$='.dotm'], #content #attachments a[href$='.dotx'], #content #attachments a[href$='.sxw'] {
  padding-right: 25px;
  background: url("images/page_white_word.png") no-repeat right;
}

/* Presentation file extensions

.potx, .pps, .ppsm, .ppsx, .ppt, .pptm, .pptx

*/

#content #attachments a[href$='.potx'], #content #attachments a[href$='.pps'], #content #attachments a[href$='.ppsx'], #content #attachments a[href$='.ppt'], #content #attachments a[href$='.pptm'], #content #attachments a[href$='.pptx'] {
  padding-right: 25px;
  background: url("images/page_white_powerpoint.png") no-repeat right;
}


/* Spreadsheet file extensions

.ods, .scx, .xls, .xlsm, .xlsx

*/

#content #attachments a[href$='.ods'], #content #attachments a[href$='.scx'], #content #attachments a[href$='.xls'], #content #attachments a[href$='.xlsm'], #content #attachments a[href$='.xlsx'] {
  padding-right: 25px;
  background: url("images/doc_excel_csv.png") no-repeat right;
}

/* Script file extensions

.asp, .aspx, .css, .inc, .ini, .js, .json, .lib, .php, .php3, .rc, 

*/

#content #attachments a[href$='.asp'], #content #attachments a[href$='.aspx'], #content #attachments a[href$='.css'], #content #attachments a[href$='.ini'], #content #attachments a[href$='.inc'],
#content #attachments a[href$='.js'], #content #attachments a[href$='.json'],  #content #attachments a[href$='.lib'], #content #attachments a[href$='.php'], #content #attachments a[href$='.php3'] , #content #attachments a[href$='.rc']{
  padding-right: 25px;
  background: url("images/script.png") no-repeat right;
}

/* Compressed file extensions

.7z, .7zip, .ace, .arj, .gz, .rar, .zix, .zip

*/

#content #attachments a[href$='.7z'], #content #attachments a[href$='.7zip'], #content #attachments a[href$='.ace'], #content #attachments a[href$='.arj'], #content #attachments a[href$='.gz'], #content #attachments a[href$='.zix'], #content #attachments a[href$='.zip'] {
  padding-right: 25px;
  background: url("images/compress.png") no-repeat right;
}

/* Graphics file extensions

.bmp, .eps, .gif, .ico, .iff, .png, .jpeg, .jpg, .svg, 

*/

#content #attachments a[href$='.bmp'], #content #attachments a[href$='.esp'], #content #attachments a[href$='.gif'], #content #attachments a[href$='.iff'], #content #attachments a[href$='.png'], #content #attachments a[href$='.jpeg'], #content #attachments a[href$='.jpg'], #content #attachments a[href$='.svg'] {
  padding-right: 25px;
  background: #ffffff url("images/images.png") no-repeat right;
}

/* tabs */

#content .tabs {
font-size : 1.1em;
}

/* Node edit */

.node-type-list {
font-size : 1.2em;
}
.node-type-list dd {
margin-bottom : 1.41666667em;
}
#node-form {
font-size : 1.2em;
}
#node-form label{
font-weight : normal;
font-style : italic;
}
#node-form a {
margin-bottom : 1.41666667em;
}
#node-form .description {
font-size : 1em;
}
#node-form .teaser-button,
#node-form .form-submit{
border : 1px solid #600000;
background : #f0f0f0;
}
.attachments {
overflow : auto;
}

/* User login form */

#user-login-form img,
#user-login-form .form-submit{
-webkit-box-shadow:10px 10px 10px #666666; 
-moz-box-shadow:10px 10px 10px #666666; 
box-shadow:10px 10px 10px #666666; 
margin-bottom : 1em;
}
#user-login-form .form-text  {
border : 1px solid #600000;
}
#user-login-form ul li {
font-size : 0.9em;
}
#user-login-form .form-required {
display : none;
}

/* #user-register */

#user-register label {
font-size : 1.2em;
font-weight : normal;
font-style : italic;
}
#user-register .form-submit {
background : #f0f0f0;
border : 1px solid #600000;
}
#user-register .description {
font-size : 1.1em;
}
#user-register .form-text {
border : 1px solid #600000;
-webkit-box-shadow:8px 7px 7px #666666; 
-moz-box-shadow:  8px 7px 7px #666666; 
box-shadow:8px 7px 7px #666666; 
margin-bottom : 1.41666667em;
}

/* #user-login */

#user-login label {
font-size : 1.2em;
font-weight : normal;
font-style : italic;
}
#user-login .form-submit {
background : #f0f0f0;
border : 1px solid #600000;
}
#user-login .description {
font-size : 1.1em;
}
#user-login .form-text {
border : 1px solid #f00000;
-webkit-box-shadow:8px 7px 7px #666666; 
-moz-box-shadow:  8px 7px 7px #666666; 
box-shadow:8px 7px 7px #666666; 
margin-bottom : 1.41666667em;
}

/* #user-pass */

#user-pass label {
font-size : 1.2em;
font-weight : normal;
font-style : italic;
}
#user-pass .form-submit {
background : #f0f0f0;
border : 1px solid #600000;
}
#user-pass .form-text {
border : 1px solid #f00000;
-webkit-box-shadow:8px 7px 7px #666666; 
-moz-box-shadow:  8px 7px 7px #666666; 
box-shadow:8px 7px 7px #666666; 
margin-bottom : 1.41666667em;
}

/* Search form */

#search-form {
text-align : center;
}
#search-form label {
font-size : 1.2em;
font-weight : normal;
font-style : italic;
}
#search-form .form-text{
display : block;
width : 99%;
border : 1px solid #600000;
}
#search-form .form-submit {
margin-top : 1em;
background : #f0f0f0;
border : 1px solid #600000;
}
#search-form .collapse-processed a{
font-size : 1.2em;
}
#search-form select {
font-size : 1.2em;
}
.box .search-snippet {
margin-top : 1.41666667em;
}
.box .search-info {
font-size : 1em;
}

/* Contact Form */

#contact-mail-page {
font-size : 1.2em;
}
#contact-mail-page label {
font-weight : normal;
font-style : italic;
}
#contact-mail-page .form-submit {
border : 1px solid #600000;
background : #f0f0f0;
}
#contact-mail-page .form-text,
#contact-mail-page textarea{
border : 1px solid #f00000;
-webkit-box-shadow:8px 7px 7px #666666; 
-moz-box-shadow:  8px 7px 7px #666666; 
box-shadow:8px 7px 7px #666666; 
}

/* Contact User Form */

#contact-mail-user {
font-size : 1.2em;
}
#contact-mail-user label {
font-weight : normal;
font-style : italic;
}
#contact-mail-user .form-submit {
border : 1px solid #f00000;
background : #f0f0f0;
}
#contact-mail-user .form-text,
#contact-mail-user textarea{
border : 1px solid #f00000;
-webkit-box-shadow:8px 7px 7px #666666; 
-moz-box-shadow:  8px 7px 7px #666666; 
box-shadow:8px 7px 7px #666666; 
}

/* Forum */

#forum {
font-size : 1.2em;
}
#forum table thead tr th {
font-weight : normal;
font-style : italic;
}
#forum table tbody tr{
background : #f0f0f0;
}
#forum table {
width : 100%;
}
#forum tbody td.icon img{
margin-right : 5px;
}
.forum-topic-navigation {
font-size : 1.1em;
}

/* Poll */

#content .poll {
font-size : 1em;
margin-right : 40px;
}
.poll .form-submit {
background : #f0f0f0;
border : 1px solid #600000;
}

/* Tracker */

#tracker {
font-size : 1.2em;
}
#tracker table  {
margin-bottom : 1em;
}
#tracker table tbody tr{
background : #f0f0f0;
}
#tracker table thead tr th{
background : #ffffff;
}

/* Users */

.profile {
font-size : 1.2em;
}

/* User edit */

#user-profile-form {
font-size : 1.2em;
}
#user-profile-form .description {
font-size : 1em;
}
#user-profile-form label {
font-weight : normal;
font-style : italic;
}

/* Compose tips 
*/

#content ul.tips  {
font-size : 1em;
}
#filter-filter-0 ,
#filter-filter-1,
#filter-filter-2,
#filter-filter-3,
#filter-filter-4{
overflow : auto;
font-size : 1.2em;
margin-bottom : 1.41666667em;
padding : 0 1px 0 0;
}
#filter-filter-0 code {
font-size : 1.2em;
}
#main #content ul {
margin-left : 20px;
}
#main #content ul li strong {
font-size : 1.2em;
margin-bottom : 1.41666667em;
}
#comment-form .description ul.tips{
font-size : 1.1em;
}

/* Footer */

#footer-wrapper {
background : url("images/bottom-background.gif") repeat-y center center;
width : 940px;
margin : 0 auto;
clear : both;
}
.no-footer-four #footer-wrapper {
background : url("images/bottom-background-three-columns.gif") repeat-y center center;
width : 940px;
margin : 0 auto;
clear : both;
}
#footer p.block-title {
font : 1.6em  "Helvetica Neue",  Helvetica, Arial, sans-serif;
margin-bottom : 1.0625em;
background : #ffffff;
border-top : 1px solid #C0BDAC;
border-bottom : 1px solid #C0BDAC;
text-shadow: #999999 18px 8px 2px;
}
#footer ul li {
list-style-type : circle;
}
#footer .content {
font-size : 1.2em;
margin-bottom : 1.41666667em;
}
#footer-one {
padding : 0 2px 0 2px;
width : 216px;
margin-right : 20px;
margin-bottom : 10px;
float : left;
border-top : 1px solid #600000;
}
.no-footer-four #footer-one {
padding : 0 2px 0 2px;
width : 336px;
margin-right : 20px;
margin-bottom : 10px;
float : left;
border-top : 1px solid #600000;
}
#footer-two {
padding : 0 2px 0 2px;
width : 216px;
margin-right : 20px;
margin-bottom : 10px;
float : left;
border-top : 1px solid #600000;
}
.no-footer-four #footer-two {
padding : 0 2px 0 2px;
width : 336px;
margin-right : 20px;
margin-bottom : 10px;
float : left;
border-top : 1px solid #600000;
}
#footer-three {
padding : 0 2px 0 2px;
width : 216px;
margin-right : 20px;
margin-bottom : 10px;
float : left;
border-top : 1px solid #600000;
}
.no-footer-four #footer-three {
padding : 0 2px 0 2px;
width : 216px;
margin : 0 0 10px 0;
float : left;
border-top : 1px solid #600000;
}
#footer-four {
padding : 0 2px 0 2px;
width : 216px;
margin-bottom : 10px;
float : left;
border-top : 1px solid #600000;
}
#footer-message {
border : 1px solid #600000;
padding : 0 1px 0.833333335em 1px;
background : #ffffff;
font-size : 1.1em;
text-align : center;
margin : 10px 10px 0 10px;
clear : both;
}

input[type=text]:hover {  
background-color:#ffffcc;  
border: 1px solid #000000;  
} 
input[type=password]:hover {  
background-color:#ffffcc;  
border: 1px solid #000000;   
} 
textarea:hover {  
background-color:#ffffcc;  
border: 1px solid #000000;   
} 

/* Admin */

.messages {
font-size : 1.3em;
width : 80%;
margin : 0 auto;
}
#switchtheme-switch-form {
font-size : 1.2em;
text-align : center;
}
#switchtheme-switch-form .description {
font-size : 1em;
}
#switchtheme-switch-form label {
font-weight : normal;
font-style : italic;
}
#switchtheme-switch-form .form-submit {
background : #ffffff;
color : #f00000;
border : 1px solid #f00000;
}
#first-time  {
font-size : 1.2em;
line-height : 1.41666667em;
margin-left : 20px;
}
#admin-wrapper {
width : 960px;
background : #C0BDAC;
margin : 10px auto;
background : #f0f0f0 ;
border : 1px solid #f00000;
padding-top : 1px;
}
#admin-wrapper #content {
font-size : 1.2em;
line-height : 1.41666667em;
}
#admin-wrapper #container .help {
font-size : 1em;
}
#admin-wrapper #container .description {
font-size : 1em;
}
#admin-wrapper #container  .block {
font-size : 1em;
}
#designer {
width : 940px;
margin : 10px auto;
padding-bottom : 10px;
font-size : 1.1em;
text-align : right;
}

/* Leave this below - important*/

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */ 